<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Venta</h2>
    			<h3 class="pull-right">Número # <%= @sale.number %></h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
                                        <p><strong>Nombre:</strong><%= @sale.patient.first_name%><%= @sale.patient.last_name%></p>
                                        <p><strong>Nit:</strong><%= @sale.client.nit%></p>
                                        <p><strong>Factura a nombre de:</strong><%= @sale.name%></p>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Fecha:</strong><br>
    					<%= @sale.date.strftime("%d/%m/%Y") %><br><br>
    				</address>
    			</div>
    		</div>
    		<div class="row">
		    	<div class="col-md-12">
		    		<div class="panel panel-default">
		    			<div class="panel-heading">
		    				<h3 class="panel-title"><strong>Detalles de Venta</strong></h3>
		    			</div>
		    			<div class="panel-body">
		    				<%= render partial: 'table', locals: { sale: @sale } %>
		    			</div>
		    		</div>
		    	</div>
		    </div>
    	</div>
    </div>
</div>
<div class="container">
    <div class="text-right">
        <%= link_to 'Finalizar e imprimir factura', sale_path(@sale, format:"pdf"), class: 'btn btn-danger' %>
    </div>  
</div>


<%= link_to 'Volver', sales_path %>
